{% extends "layout.html" %}

{% block heading %}
    help.
{% endblock %}

{% block body %}
    <div class="card-deck mt-5 mr-5 ml-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What is Flack?</h5>
                <p class="card-text">Flack allows you to create channels where different users on the site can interact by sending messages.</p>
                <p class="card-text">A simple chatroom utilizing HTML, CSS, Javascript and Socket.IO. This project was made for CS50W - Project 2</p>
                <p class="card-text"><small class="text-muted"><a href="/signin"><b>SIGN IN</b> </a>now to start using Flack</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Usage</h5>
                <ul class="card-text">
                    <li>Sign in using a username</li>
                    <li>Create a chatroom </li>
                    <li>View all channels and users</li>
                    <li>Join any chatrooms and interact with other users</li>
                    <li>Send an alert message to a specific user</li>
                    <li>Remembers the you and the channel you were on if you accidentally closed the window/browser</li>
                </ul>
                <p class="card-text"><small class="text-muted"><a href="https://github.com/joiellantero/Flack" target="_blank"><b>VIEW ON GITHUB</b> </a> </small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resources</h5>
                <ul class="card-text">
                    <li>Image from Freepik.com</li>
                    <li>Favicon from https://gauger.io/fonticon/</li>
                    <li>Bootstrap v4.4.1</li>
                    <li>Material Design for Bootstrap 4</li>
                    <li>Font Awesome v5.8.2</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %} 